APT::Periodic::Update-Package-Lists "{{ apt_update_package_lists }}";
APT::Periodic::Download-Upgradeable-Packages "{{ apt_download_upgradable_packages }}";
APT::Periodic::AutocleanInterval "{{ apt_autocleaninterval }}";
APT::Periodic::Unattended-Upgrade "{{ apt_unattended_upgrade }}";
